<div class="container">
    <h3 class="mt-3">Mystery Shopping Scams</h3>
    <p>
        As a prominent market and consumer research provider, Mintel Group Ltd. routinely engages mystery shoppers to gather products and information. The good reputation of Mintel’s mystery shopper network, however, sometimes attracts fraudulent mystery shopper scams.
        
        Unfortunately, Mintel regularly receives notice of fraudulent mystery shopper scams that impersonate Mintel. Even though Mintel’s actual company name and service mark are used, the phone numbers, employee names, and websites provided in the job postings or letters are phony. Mintel deplores the fraudulent use of its brand and reports these scams to law enforcement.
        
        To assist you in identifying and avoiding fraudulent mystery shopper scams, consult the following resources.</p>

<div class="container d-flex flex-wrap">

    <div class="card m-3  ">
        <div class="card-body">
            <a class="nav-link" aria-current="page" routerLink="personal">Personal</a>

        </div>
      </div>
      <div class="card m-3">
        <div class="card-body">
            <a class="nav-link" routerLink="houseLot">House or Lot</a>
        </div>
      </div>

 
    <div class="card m-3  ">
        <div class="card-body">
            <a class="nav-link" routerLink="vehicles">Vehicles</a>
        </div>
      </div>
      <div class="card m-3">
        <div class="card-body">
            <a class="nav-link" routerLink="industrial" tabindex="-1" aria-disabled="true">Industrial</a>
        </div>
      </div>
 </div>

 

</div>