<form [formGroup]="customerForm" (submit)="createCustomer()">
  <label for="Name">Name*:</label>
  <div class="input-group mb-2 mr-sm-2">
    <input
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="name"
    />
  </div>

  <label for="Phone">Phone*:</label>
  <div class="input-group mb-2 mr-sm-2">
    <input
      type="text"
      class="form-control"
      formControlName="phone"
      placeholder="Phone"
    />
  </div>

  <label for="Address">Address*:</label>
  <div class="input-group mb-2 mr-sm-2">
    <input
      type="text"
      class="form-control"
      formControlName="address"
      placeholder="Address"
    />
  </div>

  <label for="membership">Membership*:</label>
  <div class="input-group mb-2 mr-sm-2">
    <select formControlName="membership" class="form-control">
      <option>Basic</option>
      <option>Pro</option>
      <option>Platinum</option>
    </select>
  </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-info mt-3" (click)="closeMod()">
      Add Customer
    </button>
  </div>
</form>
